@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --color-primary: #960138;
}
h4{
  margin-top: -2vh;
  font-size: clamp(10px, 2vw, 4vw);
}
h3{
  font-size: clamp(14px, 2vw, 4vw);
}

body{
  background-image: url(assets/background.png);
  background-attachment: fixed;
  background-size: cover;
  align-content: center;
  position: absolute;
  justify-self: center;
  width: 100%;
  

 }

/* .banner-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vw;
}
.banner{
  justify-content: center;
  align-content: center;
  position: relative;
  display: flex;
  background-color: white;
  margin-top: -1vh;
}
 */

.money-summaries >.bar >.info >.money-in, .money-out{
  
  margin-top: 2vh;
  color: white;
  height: auto;
  padding-bottom: 10%;
  width: clamp(43vw, 40vw,35vw);
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(15px, 2vw, 4vw);
  text-align: center;
  background-color: rgba(104, 102, 102, 0.147);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  

}

.money-summaries >.bar >.info >.money-in >.text,
.money-summaries >.bar >.info >.money-in #moneyInTransactions .text{
  
 font-size: clamp(10px, 1vw, 2vw);
  margin-top:  clamp(20px, 3%, 4vw);
  display: flex;
  justify-content: flex-start;
  position: relative;
  
  margin-left: 2.5vw;

}
.money-summaries >.bar >.info >.money-out >.text,
.money-summaries >.bar >.info >.money-out #moneyOutTransactions .text{
  
font-size: clamp(10px, 1vw, 2vw);
  margin-top:  clamp(20px, 3%, 4vw);
  display: flex;
  justify-content: flex-start;
  position: relative;
  
  margin-left: 2.5vw;

}




.money-summaries{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 3%;
}


.money-summaries .bar .progress-bar{
  margin-top: 2%;
  margin-left: 2.5%;
  width: 95%;
  height:  clamp(1vh, 1.5vh, 1.5vh);
  background-color: #dddddd;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.money-summaries .bar .money-in .progress-bar span{
    display: block;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(0.39% 27.45% 43.53%);
    animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

.money-summaries .bar .money-out .progress-bar span{
    display: block;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
      background-color: rgb(89.8% 22.35% 20%);
  
    animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.money-summaries .bar .progress-bar span.money{
    width: 90%;
}

.money-summaries .bar .progress-bar span.money-out-bar{
    width: 70%;
}

.analytics .spending-summary .category-pie-section{
  margin-top: 0.8rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.analytics .spending-summary .category-pie-chart{
  width: clamp(120px, 16vw, 190px);
  height: clamp(120px, 16vw, 190px);
  border-radius: 50%;
  margin: 0 auto 0.8rem auto;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.analytics .spending-summary .category-pie-legend{
  text-align: left;
}

.analytics .spending-summary .pie-legend-row{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
  font-size: clamp(10px, 1.3vw, 13px);
}

.analytics .spending-summary .pie-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}


.analytics{
  padding: 2.5%;
  position: relative;
  display: flex;
  /* background-color: #960138; */
  justify-items: space-between;

  
  
}

.analytics .anomaly{
    padding: 1%;
  margin-right: 3%;
  text-align: center;
  border-radius: 10px;
  height: auto;
  width: clamp(10vw, 62vw,70vw);
  background-color: rgba(118, 33, 33, 0.147);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: clamp(10px, 2vw, 4vw);
}


/* .analytics-sub .bar-graph{
  
  text-align: center;
  height: clamp(10vh, 35vh, 35vh);
  border-radius: 10px;
  width: 100%;
  background-color: rgb(107, 37, 107);
  justify-content: center;
  position: relative;
  display: flex;
  margin-left: 10%;
  margin-bottom: 5%;
  
} */
.analytics .spending-summary{
  text-align: center;
  padding: 1%;
  height: auto;
  min-height: clamp(10vh, 40vh, 50vh);
  border-radius: 25px;
  width: clamp(20vw, 30vw,30vw);
  background-color: rgba(0, 3, 8, 0.147);
  color: white;
  font-size: clamp(10px, 2vw, 4vw);
  border: 1px solid rgba(255, 255, 255, 0.18);
  
}


